{% extends 'index.twig' %}
{% block content %}
<h2>Login</h2>

<h2>Login user</h2>
<form name="login" id="login" action="/login" method="post">
	<label>Username</label>
	<input type="text" name="username">
	<label>Password</label>
	<input type="password" name="password">
	<input type="submit" value="Login">
</form>
{% endblock %}